a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tt, u, ul, var {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top
}

@font-face {
    font-family: 'Modern No. 20';
    font-style: normal;
    font-weight: normal;
    src: local('Modern No. 20'), url('../MOD20.woff') format('woff');
}

body {
    margin: 0 auto;
    display: block;
    padding: 40px;
    font-family: 'Modern No. 20', serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/*LOGIN*/
.centerOnly {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0 auto;
    width: 30%;
    left: 32%;
    right: 32%;

}

.italic {
    font-style: italic;
}

.title {
    top: 30%;
    position: absolute;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 5em;
}

h2{
    font-size: x-large;
}
h4 {
    font-size: x-large;
}

#movieTitle{
    font-size: 30px;
}

a {
    color: #000;
    font-style: italic;
    text-decoration: underline;
}

input {
    font-family: "Modern No. 20", serif;
    font-size: 1em;
    margin-top: 1em;
    border: 0;
    border-bottom: solid 1px #000;
    background-color: #fff;
    text-align: center;
}

label {
    margin-top: 10px;
}

input:focus {
    outline: none;
}

.list ul {
    display: block;
    height: 28em;
    margin-bottom: 1em;
    width: 80%;
    overflow: scroll;
    /*position: absolute;*/
}

ul {
    margin-left: 2em;
    list-style-type: none;
}

p, h5{
    font-size: 20px;
}

.commentDate, .commentName{
    font-size: 15px;
}

.commentBox{
    padding: 10px;
}

#user {
    margin-left: 5px;
    font-size: 1.5em;
}

.movie {
    width: 8em;
    height: 12em;
    background-color: #000;
    margin: 2em auto 0;
}

