<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <div>
        <h:form>
            <p:menubar>
                <p:menuitem value="Home" url="/protected/user/index.xhtml" immediate="true"/>
                <p:menuitem value="Verwaltung" url="/protected/admin/admin.xhtml" rendered="#{securityBean.admin}"/>
                <p:menuitem value="Film anlegen" url="/protected/user/newMovie.xhtml"/>
                <p:menuitem value="Meine Filmee" url="/protected/user/myMovies.xhtml"/>
                <p:menuitem value="Alle Filmee" url="/protected/user/allMovies.xhtml"/>
                <p:menuitem value="Nutzerseiten" url="/protected/user/userDetail.xhtml"/>
                <p:menuitem value="Logout" action="#{securityBean.logout()}"/>
            </p:menubar>
        </h:form>
    </div>
</ui:composition>

</html>
