<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<ui:composition>
    <div>
        <div class="noselect">
            <h2 id="user">#{securityBean.user.name}'s</h2>
            <h1>Filmee</h1>
        </div>
    </div>
</ui:composition>
</html>
