<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<h:head>
    <title><ui:insert name="title"/></title>
    <h:outputStylesheet library="css" name="style.css"  />
</h:head>

<h:body>
    <div id="container">
        <nav>
            <ui:include src="/protected/template/user.xhtml"/>
            <ui:include src="/protected/template/nav.xhtml"/>
        </nav>
        <hr/>
        <section>
            <ui:insert name="content"/>
        </section>
    </div>
</h:body>
</html>
