<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<ui:composition template="/protected/template/wrapper.xhtml">
    <ui:define name="title">Verwaltung</ui:define>
    <ui:define name="content">
        <h:form>
            <h2>Verwaltung</h2>
            <p:dataTable var="user" value="#{adminBean.users}">
                <p:column headerText="Username" sortBy="#{user.userName}" filterBy="#{user.userName}"
                          filterMatchMode="contains">
                    <h:outputText value="#{user.userName}"/>
                </p:column>
                <p:column headerText="Name" sortBy="#{user.name}" filterBy="#{user.name}" filterMatchMode="contains">
                    <h:outputText value="#{user.name}"/>
                </p:column>
                <p:column headerText="Rollen">
                    <p:dataList var="role" value="#{user.roles}">
                        #{role.name}
                    </p:dataList>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
</html>
