<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<ui:composition template="/protected/template/wrapper.xhtml">
    <ui:define name="title">Startseite</ui:define>
    <ui:define name="content">
        <h2>Startseite</h2>
        <br/>
        <h4>Neue Bewertungen</h4>
        <p:dataTable var="rating"
                     value="#{homeBean.ratings}">
            <p:column headerText="Film">
                <h:outputText value="#{rating.movie.title}"/>
            </p:column>
            <p:column headerText="Bewertung">
                <h:outputText value="#{rating.rating}"/>
            </p:column>
            <p:column headerText="Nutzer">
                <h:outputText value="#{rating.creator.name}"/>
            </p:column>
            <p:column headerText="Zeit">
                <h:outputText value="#{rating.formattedDate}"/>
            </p:column>
        </p:dataTable>
        <br/>
        <h4>Neue Kommentare</h4>
        <p:dataTable var="comment"
                     value="#{homeBean.comments}">
            <p:column headerText="Film">
                <h:outputText value="#{comment.movie.title}"/>
            </p:column>
            <p:column headerText="Kommentar">
                <h:outputText value="#{comment.content}"/>
            </p:column>
            <p:column headerText="Nutzer">
                <h:outputText value="#{comment.creator.name}"/>
            </p:column>
            <p:column headerText="Zeit">
                <h:outputText value="#{comment.formattedDate}"/>
            </p:column>
        </p:dataTable>
        <br/>
        <h4>Neue Filmee</h4>
        <p:dataTable var="movie"
                     value="#{homeBean.movies}">
            <p:column headerText="Film">
                <h:outputText value="#{movie.title}"/>
            </p:column>
            <p:column headerText="Erscheinungsjahr">
                <h:outputText value="#{movie.releaseYear}"/>
            </p:column>
            <p:column headerText="Nutzer">
                <h:outputText value="#{movie.creator.name}"/>
            </p:column>
            <p:column headerText="Zeit">
                <h:outputText value="#{movie.formattedDate}"/>
            </p:column>
        </p:dataTable>
    </ui:define>
</ui:composition>
</html>
