<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
>

<ui:composition template="/protected/template/wrapper.xhtml">
    <ui:define name="title">titel</ui:define>
    <ui:define name="content">
        <h2 id="movieTitle">#{movieDetailBean.selectedMovie.title} - #{movieDetailBean.selectedMovie.releaseYear}</h2>
        <h5>Hochgeladen um #{movieDetailBean.selectedMovie.formattedDate} von #{movieDetailBean.selectedMovie.creator.name}</h5>
        <br/>
        <p>#{movieDetailBean.selectedMovie.description}</p>
        <br/>
        <h:form id="ratings">
            <p>Durchschnitte Bewertung: #{movieDetailBean.avgRating}</p>
            <p>Meine Bewertung: #{movieDetailBean.currentRating}</p>
            <br/>
            <p>Neu bewerten:</p>
            <p:messages id="ratMsgs"/>
            <p:rating value="#{movieDetailBean.newRating}" stars="10" cancel="false">
                <p:ajax event="rate" listener="#{movieDetailBean.onRate}" update="ratings"/>
            </p:rating>
        </h:form> <br/>
        <br/>
        <h2>Kommentar hinzufügen:</h2><br/>
        <p:messages id="commMsgs"/>
        <h:form id="comment-form">
            <p:inputTextarea maxlength="2048" value="#{movieDetailBean.comment}"
                             validator="#{movieDetailBean.validateComment}"/>
            <br/>
            <p:commandButton value="Speichern" update="comment-form comments commMsgs"
                             actionListener="#{movieDetailBean.onComment()}"/>
        </h:form>
        <br/>
        <p:dataList id="comments" var="comment" value="#{movieDetailBean.selectedMovie.comments}" type="unordered"
                    paginator="true"
                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    paginatorPosition="bottom" rowsPerPageTemplate="5,10,15">
            <f:facet name="header">
                Kommentare
            </f:facet>

            <div class="commentBox">
                <span class="commentName">#{comment.creator.name}, </span>
                <span class="commentDate">#{comment.formattedDate}</span>
                <p class="commentContent">#{comment.content}</p>
                <p:panel rendered="#{securityBean.admin}">
                    <p:commandButton value="Löschen" update="comments"
                                     actionListener="#{movieDetailBean.deleteComment(comment)}"/>
                </p:panel>
            </div>
        </p:dataList>
    </ui:define>
</ui:composition>
</html>
