<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="/protected/template/wrapper.xhtml">
    <ui:define name="title">Meine Filmee</ui:define>
    <ui:define name="content">
        <h2>Meine Filmee</h2>
        <h:form>
            <p:dataTable id="movies" var="movie"
                         value="#{listMoviesBean.myMovies}"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15">
                <p:column headerText="Titel" sortBy="#{movie.title}" filterBy="#{movie.title}"
                          filterMatchMode="contains">
                    <h:outputText value="#{movie.title}"/>
                </p:column>
                <p:column headerText="Erscheinungsjahr" sortBy="#{movie.releaseYear}" filterBy="#{movie.releaseYear}"
                          filterMatchMode="exact">
                    <h:outputText value="#{movie.releaseYear}"/>
                </p:column>
                <p:column headerText="Hochgeladen am" sortBy="#{movie.created}">
                    <h:outputText value="#{movie.formattedDate}"/>
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Löschen" update="movies"
                                     actionListener="#{listMoviesBean.deleteMovie(movie)}"/>
                </p:column>
                <p:column headerText="">
                    <p:button value="Details" href="/protected/user/movieDetail.xhtml?id=#{movie.id}"/>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
</html>
