<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xml:lang="en" lang="en">
<ui:composition template="/protected/template/wrapper.xhtml">
    <ui:define name="title">Startseite</ui:define>
    <ui:define name="content">
        <h2>Neuen Film einstellen</h2>
        <p:messages id="msgs"/>
        <h:form method="post">
            <p:inputText value="#{createMovieBean.title}" placeholder="Titel"
                         validator="#{createMovieBean.validateTitle}"/>
            <br/><br/>
            <p:inputTextarea value="#{createMovieBean.description}" placeholder="Beschreibung"
                             validator="#{createMovieBean.validateDescription}"/>
            <br/><br/>
            <p:inputText value="#{createMovieBean.releaseYear}" placeholder="Erscheinungsjahr"
                         validator="#{createMovieBean.validateReleaseYear}"/>
            <br/><br/>
            <p:commandButton value="Speichern" action="#{createMovieBean.createMovie()}" update="msgs"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>