<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"

>
<ui:composition template="/protected/template/wrapper.xhtml">
    <ui:define name="title">Nutzerseite</ui:define>
    <ui:define name="content">
        <h2>Nutzerprofile</h2>
        <h:form method="post">
            <p:inputText required="true" value="#{userDetailBean.searchString}" validator="#{userDetailBean.validateUsername}" placeholder="Username"/>
            <br/>
            <br/>
            <p:commandButton value="Suchen" action="#{userDetailBean.searchUser()}" update="@all"/>
            <br/>
            <p:messages id="searchMessage"/>
            <br/>
        </h:form>

        <h2>#{userDetailBean.user.name}</h2>

        <!--rendered="#{userDetailBean.userFound}"-->
        <h:panelGroup rendered="#{userDetailBean.userFound}">
        <h4>Bewertungen</h4>
        <p:dataTable var="rating"
                     value="#{userDetailBean.userRatings}">
            <!--<p:column headerText="Nutzer">-->
                <!--<h:outputText value="#{rating.creator.name}"/>-->
            <!--</p:column>-->
            <p:column headerText="Film">
                <h:outputText value="#{rating.movie.title}"/>
            </p:column>
            <p:column headerText="Bewertung">
                <h:outputText value="#{rating.rating}"/>
            </p:column>
            <p:column headerText="Zeit">
                <h:outputText value="#{rating.formattedDate}"/>
            </p:column>
        </p:dataTable>
        <br/>
        <h4>Kommentare</h4>
        <p:dataTable var="comment"
                     value="#{userDetailBean.userComments}">
            <!--<p:column headerText="Nutzer">-->
                <!--<h:outputText value="#{comment.creator.name}"/>-->
            <!--</p:column>-->
            <p:column headerText="Film">
                <h:outputText value="#{comment.movie.title}"/>
            </p:column>
            <p:column headerText="Kommentar">
                <h:outputText value="#{comment.content}"/>
            </p:column>
            <p:column headerText="Zeit">
                <h:outputText value="#{comment.formattedDate}"/>
            </p:column>
        </p:dataTable>
        <br/>
        <h4>Filmee</h4>
        <p:dataTable var="movie"
                     value="#{userDetailBean.userMovies}">
            <!--<p:column headerText="Nutzer">-->
                <!--<h:outputText value="#{movie.creator.name}"/>-->
            <!--</p:column>-->
            <p:column headerText="Film">
                <h:outputText value="#{movie.title}"/>
            </p:column>
            <p:column headerText="Erscheinungsjahr">
                <h:outputText value="#{movie.releaseYear}"/>
            </p:column>
            <p:column headerText="Zeit">
                <h:outputText value="#{movie.formattedDate}"/>
            </p:column>
        </p:dataTable>
        </h:panelGroup>
    </ui:define>
</ui:composition>
</html>
