<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>

<body>
<script type=" javascript
    ">
    function change() {
        var title = document.getElementById("titletext");
        if (title.innerHTML === "Filmeé.") {
            title.innerHTML = "Filmèe.";
        } else {
            title.innerHTML = "Filmeé.";
        }
    }
</script>

<div class="centerOnly title">
    <h1 class="noselect" id="titletext">Filmee.</h1>
    <h:panelGroup rendered="#{requestScope['javax.servlet.forward.servlet_path'] == '/j_security_check'}">
        <h:outputText value="Username oder Passwort falsch!"/>
    </h:panelGroup>
    <form action="j_security_check" method="post">
        <input type="text" name="j_username" placeholder="Usernamee" onkeypress="change()" required="required"
               autofocus="autofocus"/>
        <br/>
        <input type="password" name="j_password" placeholder="Passwort" required="required"/>
        <br/>
        <input type="submit" class="italic" value="Einloggeen"/>
    </form>
    <br/>
    <a href="${pageContext.request.contextPath}signup.xhtml">Registriereen</a>
</div>
</body>
</html>