<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
>
<h:head>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>

<body>
<div class="centerOnly title">
    <h1 class="noselect" id="titletext">Filmee.</h1>
    <h:form method="post">
        <h:messages/>
        <h:inputText value="#{signupBean.name}" a:placeholder="Name" required="true"
                     requiredMessage="Sie müssen einen Namen angeben!" autofocus="autofocus"/>
        <br/>
        <h:inputText value="#{signupBean.userName}" a:placeholder="Username" required="true"
                     requiredMessage="Bitte wählen Sie einen Usernamen!"
                     validator="#{signupBean.validateUniqueUsername}"/>
        <br/>
        <h:inputSecret value="#{signupBean.password}" a:placeholder="Password" required="true"
                       requiredMessage="Sie müssen ein Passwort angeben!"/>
        <br/>
        <h:commandButton value="Sign up" action="#{signupBean.signup()}"/>
        <br/>
    </h:form>
    <br/>
    <a href="${pageContext.request.contextPath}signin.xhtml">Zum Login</a>
</div>
</body>
</html>